<sp-page [isProgressBarVisible]="isComponentLoading">

  <h1 class="mat-display-1" style="margin: 0 0 24px; text-align: center;">{{ this.scoreboard?.title }} Scoreboard</h1>

  <mat-card style="margin-top: 24px;">

    <button color="primary" style="position: absolute; top: 20px; right: 20px;" mat-mini-fab>
      <mat-icon>share</mat-icon>
    </button>

    <mat-card-header>
      <mat-card-title>Scoreboard</mat-card-title>
      <mat-card-subtitle>Realtime scores as updated by scoreboard creator.</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>

      <sp-scoreboard-table [scoreboard]="scoreboard"></sp-scoreboard-table>

    </mat-card-content>

  </mat-card>

  <div *ngIf="isUserOwner">

    <h1 class="mat-subheading-1" style="margin: 24px 0 0; text-align: center;">Editor</h1>
    <span class="mat-caption" style="display: block; text-align: center;">(Only you can see this)</span>

    <mat-card style="margin-top: 24px;">

      <mat-card-header>
        <mat-card-title>Participants</mat-card-title>
        <mat-card-subtitle>Add Participants who you will be scoring.</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>

        <mat-list>
          <mat-list-item *ngFor="let participant of scoreboard.participants">
            <img matListAvatar [src]="'https://api.adorable.io/avatars/285/' + participant.id">
            <p matLine>{{ participant.name }}</p>
          </mat-list-item>
        </mat-list>

        <form [formGroup]="participantFormGroup" (ngSubmit)="addParticipant()">

          <mat-form-field appearance="fill">
            <mat-label>Name:</mat-label>
            <input matInput type="text" formControlName="name">
          </mat-form-field>

          <button [disabled]="participantFormGroup.value.name?.length === 0" mat-stroked-button color="primary" type="submit">ADD PARTICIPANT</button>

        </form>

      </mat-card-content>

    </mat-card>

    <mat-card style="margin-top: 24px;">

      <mat-card-header>
        <mat-card-title>Title</mat-card-title>
        <mat-card-subtitle>Give a custom name to the scoreboard.</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>

        <form [formGroup]="scoreboardFormGroup" (ngSubmit)="updateTitle()">

          <mat-form-field appearance="fill">
            <mat-label>Title:</mat-label>
            <input matInput type="text" formControlName="title">
          </mat-form-field>

          <button color="primary" mat-stroked-button type="submit">UPDATE TITLE</button>

        </form>

      </mat-card-content>

    </mat-card>

    <button *ngIf="scoreboard.participants.length > 0" mat-fab style="position: fixed;bottom: 24px;right: 24px;" (click)="addRoundScores()" color="primary">
      <mat-icon>add</mat-icon>
    </button>

  </div>

</sp-page>
