/* --- Global Styles --- */

body {
  background: #e3e3e3;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
}

/* --- Angular Material Overrides --- */

.mat-card {
  overflow: hidden;
}

.mat-card-header-text {
  margin: 0 !important;
}

.mat-form-field {
  display: block !important;
}

.mat-table {
  min-width: 1024px;
}

/* --- Custom Styles --- */

.sp-centered-text {
  text-align: center;
}

.sp-page {
  padding: 24px;
}

.sp-table-container {
  overflow-x: auto;
}
